html {
    font-size: 62.5%;
  }

.headerDesktopContainer{
    margin:0px 10rem;
}

.navBarContainer{
    margin: 0px 10rem;
}

@media screen and (max-width:950px) {
    .navBarContainer{
        margin:0;
        
    }
}