.copyLink {
  width: 367px;
  height: 125px;
  background-color: #fc8a06;
  margin-bottom: 21px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px 0px 16px;
}
.copyLink p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 21.6px;
  margin-left: 3px;
  width: 160px;
}
.copyLink img {
  width: 50px;
  height: 50px;
}

.copyLink button {
  width: 91px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  box-sizing: border-box;
}
.mainContainer {
  width: 367px;
  height: 1212px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  margin-right: 100px;
  margin-bottom: 100px;
}

.mainContainer .header {
  width: 100%;
  height: 117px;
  background-color: #028643;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;
}

.mainContainer .header img {
  width: 58px;
  height: 58px;
  margin-right: 30px;
}

.mainContainer .header p {
  font-size: 3.2rem;
  font-weight: 600;
  color: #ffffff;
}

.cartItems {
  width: 100%;
 
}
.cartItems ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 672px;
  overflow-y: scroll;
  cursor: grab;
  user-select: none;
}

.cartItems ul::-webkit-scrollbar {
  width: 0px;
}

.cartItems ul::-webkit-scrollbar-track {
  background: transparent;
}

.cartItems ul::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}

.cartItems ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}
.cartItems .quantity {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc8a06;
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 50%;
  margin: 0px 37px 0px 32px;
}

.cartItems .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 169px;
  align-self: flex-start;
  margin: 24px 0px;
}

.cartItems .content p {
  font-size: 2rem;
  font-weight: 600;
  color: #028643;
}

.cartItems .content h1 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.cartItems .remove {
  justify-self: flex-end;
  margin-left: 29px;
  cursor: pointer;
}

.summary {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 24px 0px;
  height: 184px;
}

.summary .costs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
  color: #03081f;
  margin-left: 20px;
}

.summary .values {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 2.4rem;
  font-weight: 400;
  margin-right: 27px;
  color: #212121;
}

.totalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 34px 13px 37px 13px;
  height: 281px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fc8a06;
  height: 70px;
  width: 342px;
  border-radius: 8px;
  color: white;
}

.total p{
    font-size: 2rem;
    font-weight: 600;
    line-height: 30px;
    margin-left: 37px;
}

.total .totalValue{
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 25px;
    margin-right: 6px;
}

.totalContainer .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    font-size: 1.6rem;
    font-weight: 400;
    width:342px;
    height:52px;
    border:1px solid #CFCFCF;
    border-radius: 120px;
}

.totalContainer .button p{
    margin-left: 40px;
}

.totalContainer .button img{
    margin-right: 40px;
    width: 30px;
    height: 30px;

}

.checkoutContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 232px;
    background-color: #f9f9f9;
    padding:17px 5px 13px 13px;
}


.deliveryContainer{
   display: flex;
   justify-content: space-between;  
   align-items: flex-start; 
   width: 100%;
}

.deliver{
    width:158px;
    height: 115px;
    border:1px solid rgba(0, 0, 0, 0.2);
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.deliver h1{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
}

.deliver p{
    font-size: 1.5rem;
    font-weight: 400;
}

.collection{
  width:170px;
  height: 115px;
  border:none;
  background-color:#f9f9f9;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collection h1{
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
}

.collection p{
  font-size: 1.5rem;
  font-weight: 400;
}

.checkoutContainer .checkout{
  width:100%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  background-color: #028643;
  border-radius: 8px;
  height: 70px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  padding-left: 20px;
}

.checkout img{
  margin-right: 70px;
}

