.headerDesktopContainer{
    margin-bottom: 38px;
    margin-left: 100px; 
    margin-right: 100px;
}

.navBarContainer{
    margin-bottom: 61px;
    margin-left: 100px; 
    margin-right: 100px;
}

.paymentContainer{
    margin: 0px 145px;
    margin-bottom: 105px;
}



