.knowAboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 124px;
  width: 100%;
  height: 882px;
  background-color: #D9D9D9;
  padding-left: 8%;
  padding-right: 7%;
}

.knowAboutUs header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.knowAboutUs header .leftContent {
  font-size: 3.2rem;
  font-weight: 700;

}

.knowAboutUs header .rightContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.2rem;

}

.knowAboutUs .rightContent{
  display: flex;
  justify-content: flex-end;
}



.knowAboutUs .rightContent ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
}

.knowAboutUs .rightContent ul li {
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 30px;
  
}

.knowAboutUs .rightContent ul li:hover{
    font-weight: 700;
    border:1px solid #FC8A06;
    border-radius: 120px;
    background-color: transparent;
    line-height: 24px;
    padding:19px 33px;
}


.mainContent{
    background-color: white;
    height: 526px;
    border-radius: 12px;
    border:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainContent .leftContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    flex:3;
}

.mainContent .leftContent .row1{
    width: 346px;
    height: 62px;
    background-color: #FC8A06;
    border-radius: 120px;
    border:none;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    font-size: 1.8rem;
    font-weight: 700;
}

.mainContent .leftContent ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 1.8rem;  
  font-weight: 700;
  max-width: 400px;
}

.mainContent .leftContent ul li{
    margin-bottom: 34px;
    text-align: center;
}

.mainContent .rightContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    flex:4;
}

.mainContent .rightContent .row1{

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent .rightContent .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    height: 285px;
    width:100%;
    background-color: #D9D9D9;
    border: none;
    border-radius: 12px;
    margin-right: 20px;
}

.mainContent .rightContent .card h1{
  all:unset;
  color: #03081F;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 14px;
}

.mainContent .rightContent .card p{
  color: #03081F;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  max-width: 200px;
  text-wrap: wrap;
}

.mainContent .rightContent span{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  max-width: 650px;
  text-align: center;
}


@media  screen and (max-width: 1400px) {

  .knowAboutUs{
    height: 100%;
    background-color: white;
    
  }

  .knowAboutUs header .rightContent {
    display: none;
  }

  .knowAboutUs header{
    justify-content: center;
  }


  .mainContent{
    flex-direction: column;
    height: 100%;
    padding:0px 13px;

  }


  .mainContent .rightContent{
    margin:0;
    margin-top: 53px;
    background-color: #03081F;
    width: 100%;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    padding:62px 37px;

  }
  .mainContent .rightContent .row1{
    margin:0;
    flex-direction: column;
    justify-content: center;
  }

  .mainContent .rightContent .card{
    margin:0;
    margin-bottom: 38px;
  }
  .mainContent .rightContent span{
    color:white;
  }
}


@media screen and (max-width: 768px) {
  .knowAboutUs{
    padding-top:55px;
  }
}