.navbar {
  margin-bottom: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navTray {
  display: flex;
  align-items: center;
  flex:4;
  justify-content: space-between;
}

.logo{
  flex:1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navTray button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 12px 12px;
  font-family: "Poppins", sans-serif;
}

.navTray button:hover {
  background-color: #fc8a06;
  padding: 12px 12px;
  color: white;
  border-radius: 120px;
}

.navTray button.homeButton{
  padding: 12px 24px;
}

.homeButton:hover{
  background-color: #fc8a06;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 12px 24px;
  color: white;
  border-radius: 120px;
}
.loginSign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginSign button {
  background-color: #03081f;
  padding: 12px 12px;
  border-radius: 120px;
  border: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.loginSign button img {
  margin-right: 10px;
}


@media screen and (max-width: 1300px) {
  .navTray button{
    font-size:1.5rem;
  }
}

@media screen and (max-width: 1170px) {


  .navTray button{
    font-size:1.5rem;
  }


  
  .logo img{
    transform: scale(0.8);
  
  }

  .navTray button.homeButton{
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .navbar {
    display: none;
  }
}