.mapContainer {
    position: relative; 
    height: 659px;
    margin:0px 100px 0px 100px;
    box-shadow: 5px 5px 34px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden;
  }
  
  .information {
    position: absolute; 
    top: 49px; 
    left: 129px; 
    z-index: 500;
    background-color:rgba(3, 8, 31, 0.97);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width:466px;
    height: 539px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
  }
  
  .map {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
.information h1{
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    margin-top: 50px;

}

.information h2{
    font-size: 2.2rem;
    font-weight: 600;
    color:#FC8A06;
}

.information img{
    width:400px;
    height: 295px;
    position: relative;
    z-index: 1000;
}

@media screen and (max-width: 900px) {
  .information{
    width:382px;
    height: 322px;
    top:100px;
  }

  .mapContainer{
    height: 522px;
    margin:95px 10px 173px 10px;
  }

  .information h1{
    margin-top: 42px;
  }
 
  .information img{
    width: 300px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .information{
    left:12px;
  }
}