.advertisement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 425px;
  width: 100%;
  max-width: 1528px;
}

.leftContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  border-radius: 12px;
  padding-bottom: 39px;
  margin-right: 19px;
}

.rightContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  border-radius: 12px;
  padding-bottom: 39px;
}

.rightBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.leftBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 249px;
  height: 36px;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  top: 0;
  z-index: 20;
  background-color: white;
  margin-left: 70px;
  font-size: 1.8rem;
  font-weight: 700;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  z-index: 35;
  bottom: 39px;
  margin-left: 70px;
  width: 100%;
}

.content h3 {
  all: unset;
  color: #fc8a06;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 22px;
}

.content h1 {
  all: unset;
  color: white;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 47px;
  margin-bottom: 36px;
}

.getStarted {
  all: unset;
  background-color: #fc8a06;
  color: white;
  border: none;
  border-radius: 120px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 22px;
  width: 205px;
  height: 52px;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1500px) {
  .leftBackground {
    max-width: 600px;
    height: 338px;
  }
  .rightBackground {
    max-width: 600px;
    height: 338px;
  }

  .leftContent {
    max-width: 600px;
    height: 338px;
  }
  .rightContent {
    max-width: 600px;
    height: 338px;
  }
  .rightContent img{
    max-width: 600px;
    height: 338px;
  }

  .leftContent img{
    max-width: 600px;
    height: 338px;
  }

}

@media screen and (max-width: 1200px) {
  .advertisement {
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
  }

  .leftBackground {
    max-width: 754px;
    height: 426px;
    width: 100%;
  }
  .rightBackground {
    max-width: 754px;
    height: 426px;
    width: 100%;
  }

  .leftContent {
    max-width: 754px;
    height: 426px;
    left: 0px;
  }
  .rightContent {
    max-width: 754px;
    height: 426px;
    top: 30px;
    left: -10px;
  }

  .leftContent img{
    max-width: 754px;
    height: 426px;
  }

  .rightContent img{
    max-width: 754px;
    height: 426px;
  }


  .content h3 {
    margin-bottom: 20px;
  }

  .leftGradient {
    max-width: 754px;
    height: 426px;
  }
  .rightGradient {
    max-width: 754px;
    height: 426px;
  }
}

@media screen and (max-width: 650px) {
  .advertisement {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  .leftBackground {
    width: 391px;
    height: 223px;
  }
  .rightBackground {
    width: 391px;
    height: 223px;
  }

  .leftContent {
    width: 391px;
    height: 223px;
    padding-bottom: 17px;
    left:10px;
  }
  .rightContent {
    width: 391px;
    height: 223px;
    top: 30px;
    padding-bottom: 17px;
    left:2px;
  }

  .leftContent img{
    width: 391px;
    height: 223px;
  }

  .rightContent img{
    width: 391px;
    height: 223px;
  }

  .content {
    bottom: 24px;
    margin-left: 36px;
  }
  .caption{
    width:191px;
    height: 33px;
    margin-left: 36px;
    font-size: 1.3rem;
  }
  .getStarted {
    width: 119px;
    height: 29px;
    font-size: 1.6em;
  }
  .content h1 {
    font-size: 2.4rem;
    margin-bottom: 0px;
  }

  .content h3 {
    font-size: 1.6rem;
    margin-bottom: 0px;
  }

  .leftGradient {
    width: 391px;
    height: 223px;
  }
  .rightGradient {
    width: 391px;
    height: 223px;
  }
}
