.orderSummary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 31px;
}

.header img {
  width: 39px;
  height: 39px;
  margin-right: 4.5px;
}

.header h1 {
  margin: 0;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 48px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
}

.leftContent {
  flex: 1;
  border: 1px solid #03081f;
  border-radius: 12px;
  padding: 16px;
}
.leftContent ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.leftContent ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #202938;
  height: 64px;
  width: 100%;
  margin-top:16px;
  
}

.leftContent ul li img{
  width: 48px;
  height: 48px;
}

.leftContent ul li .itemPrice{
    font-size: 1.4rem;
    font-weight: 600;
    color:#028643;
    margin-bottom: 16px;
}

.leftContent ul li .item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.leftContent ul li .item img {
  margin-right: 12px;
}

.leftContent ul li .item h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #03081f;
  margin-bottom: 4px;
}

.leftContent ul li .item p {
  color: #83858a;
  font-size: 1.2rem;
  font-weight: 400;
}
.notesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 32px;
}

.notesContainer label {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 19.2px;
}

.notesContainer input {
  width: 100%;
  padding: 10.5px 16px;
  border-radius: 100px;
  border: 1px solid #202938;
  outline: none;
  margin-top: 4px;
  font-size: 1.2rem;
  font-weight: 400;
}

.rightContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 34px;
}

.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #03081f;
  border-radius: 56px;
  width: 100%;
  height: 66px;
  margin-bottom: 16px;
}

.address .locationImage {
  width: 42px;
  height: 42px;
}
.address .addressImage {
  margin-left: 1.5px;
}

.summary {
  border-top: 1px solid #202938;
  border-bottom: 1px solid #202938;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.summary span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #83858a;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.rightContent .subTotal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 37px;
  margin-top: 8px;
  font-size: 2rem;
}

.rightContent h1 {
  color: #83858a;
  margin: 0;
}

.rightContent .amount {
  color: #03081f;
  font-weight: 700;
}

.rightContent button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  background-color: #fc8a06;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
}
