.popularRestaurants::-webkit-scrollbar {
  display: none;
}

.popularRestaurants {
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.popularRestaurants .heading {
  width: 100%;
  font-size: 3.2rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
}

.content {
  height: 266px;
  width: 100%;
}

.content ul {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.content ul li {
  width: 238px; /* Each card's width */
  height: 266px;
  margin-right: 20px;
  border: none;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content ul li img {
  height: 203px;
  width: 238px;
  border-radius: 12px 12px 0px 0px;
}

.content ul li .lowerTileContent {
  background-color: #fc8a06;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 12px 12px;
  height: 63px;
  padding:10px;
 
}

.lowerTileContent .text{
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    
}

@media screen and (max-width: 768px) {
  .content ul li {
    height: 156px;
    width: 122px;
  }

  .content ul li img {
    height: 104px;
    width: 122px;
  }

  .content ul li .lowerTileContent {
    height: 52px;
    width: 122px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;

  }
.lowerTileContent .text{
    font-size: 1.3rem;
    font-weight: 700;
    text-wrap: wrap; 

}
  .popularRestaurants {
    padding-left: 14px;
  }

  .popularRestaurants .heading{
    margin-left: 35px;
  }
}
