/* .footer {
  display: flex;
  flex-direction: column;
}

.upperSection {
    padding: 93px 115px;
    background-color: rgba(217, 217, 217, 0.6); 
  }
  

.footerContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.downloadSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10%;
}

.downloadSection .logo {
  margin-bottom: 2rem;
}
.downloadSection .appstore {
  margin-bottom: 1.4rem;
}

.downloadSection h4 {
  margin: 0;
  font-weight: 400;
  font-size: 0.9rem;
  width: 311px;
}
.subscribeSection {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.legalPages,
.importantLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.legalPages {
  margin-right: 5%;
}

.legalPages ul,
.importantLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legalPages h1,
.importantLinks h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #03081f;
}

.legalPages ul li,
.importantLinks ul li {
  margin-bottom: 1rem;
}

.legalPages ul li a,
.importantLinks ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  cursor: default;
}

.subscribeSection h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  color: #03081f;
}

.subscribeSection h4 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.emailSubscribe {
  display: flex;
  margin-bottom: 0.5rem;
}

.emailSubscribe input {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 120px;
  background-color: #d9d9d9;
  font-size: 0.9rem;
  font-weight: 400;
  color: black;
  z-index: -1;
  outline: none;
  min-width: 300px;
  max-width: 600px;
}

.emailSubscribe button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 120px;
  background-color: #fc8a06;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: default;
  pointer-events: none;
  z-index: 1;
  transform: translate(-80px);
}


@media screen and (max-width: 1600px) {
  .footerContent {
    gap:40px;
    justify-content: flex-start;
  }
  
  .emailSubscribe input {
    max-width: 400px;
  }
} */




.footer {
  display: flex;
  flex-direction: column;
}

.upperSection {
  padding: 93px 115px;
  background-color: rgba(217, 217, 217, 0.6);
}

.footerContent {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  gap: 40px; 
  flex-wrap: wrap;
}

.downloadSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.downloadSection .logo {
  margin-bottom: 2rem;
}

.downloadSection .appstore {
  margin-bottom: 1.4rem;
}

.downloadSection h4 {
  margin: 0;
  font-weight: 400;
  font-size: 0.9rem;
  width: 311px;
}

.subscribeSection {
  display: flex;
  flex-direction: column;
}

.legalPages,
.importantLinks {
  display: flex;
  flex-direction: column;
}

.legalPages ul,
.importantLinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legalPages h1,
.importantLinks h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #03081f;
}

.legalPages ul li,
.importantLinks ul li {
  margin-bottom: 1rem;
}

.legalPages ul li a,
.importantLinks ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  cursor: default;
}

.subscribeSection h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  color: #03081f;
}

.subscribeSection h4 {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.emailSubscribe {
  display: flex;
  margin-bottom: 0.5rem;
}

.emailSubscribe input {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 120px;
  background-color: #d9d9d9;
  font-size: 0.9rem;
  font-weight: 400;
  color: black;
  outline: none;
  min-width: 300px;
  max-width: 600px;
}

.emailSubscribe button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 120px;
  background-color: #fc8a06;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: default;
  pointer-events: none;
  transform: translate(-80px);
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 115px;
  background-color: #03081f;
  font-size: 0.9rem;
}

.copyright{
  color:white;
  justify-content: flex-start;
}

.terms{
justify-self: flex-end;
  color:white;
}

.terms ul{
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 5fr;
  gap:20px;
}


@media screen and (max-width: 1500px) {
  .footerContent {
    grid-template-columns: 2fr 1fr 2fr;
    gap: 60px;
  }

}

@media screen and (max-width: 1250px) {
  .footerContent {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .bottomSection{
    flex-direction: column;
    gap: 20px;
    padding: 2rem 32px
  }

}

@media screen and (max-width: 950px) {
  .footerContent {
    grid-template-columns: 1fr;
    gap: 45px;
  }

  .terms{
    display: none;
  }

  .bottomSection {
    justify-content: center;
  }

}


@media screen and (max-width: 550px) {

  .upperSection {
    padding: 32px;
  }
}

@media screen and (max-width: 450px) {

  .upperSection {
    padding: 16px;
  }
}

